*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: gilroy;
}

.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.menu{
    display: inline-flex;
    align-items: center;
    margin: 50px;
}

.menu a{
    font-family: gilroy;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    margin-left: 60px;
    color: #c2bfbf;
    cursor: pointer;
    text-decoration: none;

}

.logo img{
    width: 30px;
}

.a a{
    font-weight: 500;
    color: #19bafa !important;
}

.menu .signupbtn{
    position: absolute;
    top: 40px;
    right: 80px;
    text-decoration: none;
    color: rgb(216, 216, 216);
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#4a00e0,#4a00e0),radial-gradient(circle at top left,#fd00da,#55e5ff);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.signupbtn span{
    display: block;
    padding: 8px 22px;
}


.banner{
    position: absolute;
    top: 25%;
    left: 140px;
    color: #fff;

}

.banner h1{
    font-size: 50px;
}

.banner p{
    margin-top: 20px;
    font-size: 13px;
    width: 650px;
    line-height: 23px;
    color: #b9b9b9;
    font-family: Montserate;
}

.app-pic {
    position: absolute;
    right: 150px;
    bottom: 120px;

}

.app-text p{
    font-family: gilroy;
    font-weight: 500;
    font-size: 13px;
}

.play-btn{
    position: relative;
    margin-top: 30px;
    display: inline-flex;
    cursor: pointer;
}

.iner-btn{

    height: 50px;
    width: 50px;
    border: 3px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(#8325E1,#8325E1),radial-gradient(circle at top left,#ff00aa,#00b7ff);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.iner-btn .ri-play-line{
        position: absolute;
        color: #ececec;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.banner a{
    position: absolute;
    top: 89%;
    font-size: 14px;
    font-family: gilroy;
    letter-spacing: 1px;
    font-size: 600;
    color: #ffffff;
    left: 10%;
    text-decoration: none;
}

#rectangle{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #da27f1,#3655e0);
}

#rectangle ul{
    display: inline-flex;
    margin: 25px auto;
    text-align: center;
    color: #fff;
   
}

#rectangle ul li{
    list-style: none;
    margin: 0 40px;
    text-align: center;
    cursor: pointer;
}

#rectangle ul li p{
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: -15px;
    font-family: product sans;
}

#rectangle .ri-share-line{
    font-size: 25px;
}

#rectangle .ri-message-2-line{
    font-size: 25px;
}

#rectangle .ri-line-chart-fill{
    font-size: 25px;
}

#rectangle .ri-smartphone-line{
    font-size: 25px;
}

.social{
    position: absolute;
    right: 0;
    bottom: 0;

}

.social ul li{
    cursor: pointer;
    margin: 25px auto;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(197, 194, 194);
    list-style: none;
}

#line{
    position: absolute;
    width: 2px;
    height: 30%;
    right: 20px;
    top: 30%;
    background-color: rgb(151, 148, 148);
}
